<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXczcM_GKXzCyCcqd8oO95mcaLe9Wkdrs</string>
	<key>GCM_SENDER_ID</key>
	<string>57241522098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>disira.RealEstate-Market</string>
	<key>PROJECT_ID</key>
	<string>realestateagent-b196f</string>
	<key>STORAGE_BUCKET</key>
	<string>realestateagent-b196f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57241522098:ios:22492213bf7403d554deab</string>
</dict>
</plist>